@font-face {
    font-family: FenYuan;
    src: url("resource/jf-openhuninn-1.0.ttf");
}

body {
    background-image: url("resource/background.jpg");
    background-size: 100%;
    font-family: FenYuan;
}

h1 {
    background-color: rgba(255, 255, 255, 0.7);
    padding: 10px;
}

#main_canvas {
    background-color: white;
    border-style: solid;
    border-width: thick;
    border-radius: 15px;
    border-color: brown;
    margin: 5px;
    display: block;
    flex-grow: 0;
    flex-shrink: 0;
}

#color_bar {
    background-color: white;
    border-style: solid;
    border-width: thin;
    margin: 5px;
}

#color_selection {
    background-color: white;
    border-style: solid;
    border-width: thin;
    margin: 5px;
}

.tool_bar_container {
    display: flex;
    flex-direction: column;
    padding: 2px;
    width: 5%;
    margin: 5px;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 80px;
}

.tool_bar_btn_file {
    min-width: 20px;
    min-height: 20px;
    margin-bottom: 5px;
    background-color: rgba(200, 250, 255, 0.7);
    flex-grow: 1;
}

.tool_bar_btn_paint {
    min-width: 20px;
    min-height: 20px;
    margin-bottom: 5px;
    background-color: rgba(227, 255, 126, 0.7);
    flex-grow: 1;
}

#tool_and_canvas {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

#upper_tool_bar {
    margin: 5px;
    display: flex;
    flex-direction: column;
    border-color: brown;
    border-style: solid;
}

.upper_btn_block {
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.7);
}

#tool_bar {
    display: flex;
    flex-direction: column;
}

#down_tool_bar {
    display: flex;
    flex-direction: row;
}